button {
  font-family: inherit;
  font-size: 16px;
  color: #5c48bc;
  background-color: #f9ff87;
  border: #eaf700 2px solid;
  border-radius: 15px;
  width: 9.5rem;
  height: 2.2rem;
  margin: 1rem 0;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

button:hover {
  background-color: #b3ff9c;
  border: #9cf17d 2px solid;
}
