@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fefffa;
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", "Calibri",
    "Trebuchet MS", sans-serif;
  color: #5c48bc;
}

.custom-h1 {
  font-family: "Paytone One", "Gill Sans", "Gill Sans MT", "Calibri",
    "Trebuchet MS", sans-serif;
  -webkit-text-stroke-width: 1.5pt;
  -webkit-text-stroke-color: #5c48bc;
  -webkit-text-fill-color: inherit;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
}

.alien {
  position: absolute;
  top: 50%;
  left: 31%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: auto;
  pointer-events: none;
  z-index: 30;
  opacity: 1;
}
